<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GALLERY</title>
  </head>
  <body>
    <h1>WELLcome 2 Galleria</h1>

  <% 25.times do |i| %>
    <img src="https://unsplash.it/g/200/300/?random= <%=i%> " >
    <% end %>
  </body>
</html>
