<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="first_web_app/favicon.ico" type="image/x-icon">
    <title>HOMO</title>
  </head>
  <body>

    <h1>HeY THere WelCOme HOMO!!</h1>

    <h2>GO TO:</h2>

    <a href="/about_me" style="text-decoration:none; font-size:25px; color:maroon;">About Me</a>
<br>
<br>
    <a href="/favourites" style="text-decoration:none; font-size:25px; color:maroon;">Favourites</a>
<br>
<br>
    <a href="/portfolio" style="text-decoration:none; font-size:25px; color:maroon;">Gallery</a>
  </body>
</html>
